* {
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
}

body {
  max-width: 60em;
  margin: 0 auto;
  padding: 1em;
}

img {
  max-width: 100%;
}

details {
  padding: 0 1em 1em 1em;
  margin-bottom: 1em;
}

summary {
  margin: 0 -1em 1em -1em;
  font-weight: bold;
  background-color: #ccc;
  padding: 0.3em 0.5em;
  cursor: pointer;
}

label {
  display: block;
}

form small {
  color: #666;
}

form {
  display: flex;
}

.col {
  flex-basis: 50%;
  width: 50%;
  padding: 0 1em;
}

input:not([type="radio"]):not([type="checkbox"]),
textarea {
  width: 100%;
}

button {
  cursor: pointer;
  background: #eee;
  color: #000;
  border: 2px solid #000;
  border-radius: 2em;
  padding: 0.5rem 3rem;
  transition: 0.2s;
}

button:hover,
button:focus {
  background: #ccc;
}

.card {
  border: 2px solid #000;
  border-radius: 0.3em;
  width: 12em;
  min-width: 12em;
  min-height: 18em;
  height: 320px;
  position: relative;
  padding: 1em;
  margin: 1em;
  break-inside: avoid;
}
.card > img {
  position: absolute;
  top: -0.6em;
  left: -0.6em;
  border: 0.5em solid #fff;
  height: 2.4rem;
  background: #fff;
}
.card::before {
  content: "";
  display: block;
  height: 3.6rem;
  width: 3.6rem;
  margin: 0.5rem auto 1rem auto;
  border-radius: 50%;
  border: 1px solid #999;
}
.card > h1 {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 1rem;
  font-weight: normal;
  margin: 0;
}
.card > .description {
  white-space: pre-wrap;
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 1.5rem;
}
.card > .long-description {
  white-space: pre-wrap;
  text-align: center;
  font-size: 0.75rem;
  padding-bottom: 1.5rem;
}
.card > .quote {
  white-space: pre-wrap;
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 1.5rem;
  font-style: italic;
}
.card > .rules {
  white-space: pre-wrap;
  font-size: 0.7rem;
}
.card > .point {
  padding-left: 1rem;
  padding-bottom: 0.3rem;
  font-size: 0.7rem;
}
.card > .point > .point-icon {
  position: absolute;
  left: 0;
  width: 30px;
  text-align: center;
}
.card > .point > .point-text {
  min-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card > .cups {
  position: absolute;
  left: 0;
  bottom: 0.5em;
  width: 100%;
  text-align: center;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}
.card > .cups > img {
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: -0.5rem;
  margin-left: 0.3rem;
}

@media print {
  body {
    padding: 0 1em;
  }

  .no-print {
    display: none;
  }
}
